h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
}

p {
    font-family: "Roboto", serif;
}

body {
    margin: 0;
    padding: 0;
}

.Header-navigation {
  position: sticky;
  top: 0;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000; 
  background-color: #ffffff;
  font-family: 'Roboto';
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

li {
    margin: 10px;
}

.btn-outline-light {
    border: 1px solid #fdf3cf;
    color: #fdf3cf;
}

.btn-outline-light:hover {
    background-color: #fdf3cf;
    border: 1px solid #fdf3cf;
}

.table-char {
    border: 1px solid #43434c;
    border-radius: 9px;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden; 
    background-color: #1e1e1e;
    width: 1300px;
    text-align: center;
}

.table-char td, tr {
    width: 160px;
    border: 1px solid #43434c;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #edcda5;
}

.table-char img {
    border-radius: 8px;
    margin: 2px;
}

#carouselExampleCaptions .carousel-item img {
    height: 500px;
    object-fit: cover;
    object-position: center;
}

#carouselExampleCaptions .carousel-item {
    transition: transform 0.8s ease-in-out;
}

.section-box {
    border: 1px solid #43434c;
    border-radius: 9px;
    background-color: #1e1e1e;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    padding: 25px;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
}

.section-box h1,
.section-box h2,
.section-box h3,
.section-box h4,
.section-box h5,
.section-box h6,
.section-box p {
    color: #edcda5;
}